.alt_header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.alt_header_title {
  font-size: 28px;
  font-weight: bold;
}

.alt_header_column {
  width: 33%;
}

.alt_header_column:nth-child(2) {
  text-align: center;
}

.alt_header_column:first-child {
  margin-right: auto;
}

.alt_header_column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt_header_column span:last-child {
  margin-left: 20px;
}
